<div class="h-100">
    <p class="text-center">
        Streams from <code>Contact</code> with
        <code>id</code>&nbsp;<span>&lt;<strong>{{_contactHolder.id}}</strong>&gt;</span> and
        <code>nickname</code>&nbsp;<span>&lt;<strong>{{_contactHolder.nickname}}</strong>&gt;</span>
    </p>
    <p *ngIf="withModeration">
        <button *ngIf="withModeration" mat-raised-button color="accent" (click)="emitEject()">Eject</button>
    </p>
    <p *ngIf="streamHoldersById.size === 0" class="alert alert-secondary" role="alert">
        No streams published yet !
    </p>
    <div *ngIf="streamHoldersById.size > 0" id="{{_contactHolder.id}}-streams">
        <div class="card" *ngFor="let kv of streamHoldersById | keyvalue">
            <div class="card-body">
                <app-stream [streamHolder]="kv.value" [withSubscription]="true" [audioOutDevices]="_audioOutDevices"
                    (onAudioOutSelected)="changeStreamOutDevice(kv.value, $event)"
                    (onSubscription)="emitStreamSubscription($event)" [withMuteControl]="true"
                    (onAudioMute)="relayAudioMute(kv.value,$event)" (onVideoMute)="relayVideoMute(kv.value,$event)">
                </app-stream>
            </div>
        </div>
    </div>
</div>